@mixin vert_center {
  top: 50%;
  transform: translate(0, -50%);
}

@mixin hort_center {
  left: 50%;
  transform: translate(-50%, 0);
}

@mixin abs_center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
