// app wide CSS
html * {
  color: $my_white;
  font-family: $font-primary;
}
body {
  background-color: $my_gray;
}
img {
  border: 2px solid $my_black;
  border-radius: 5px;
}
#input {
  border: 2px solid $my_black;
}
i {
  color: $my_green;
}
.button {
  color: $my_black;
  background-color: $my_green;
  border: 1px solid $my_black;
  border-radius: 3px;
  &:hover {
    background-color: $my_green;
  }
}
input {
  border: 1px solid $my_black;
  border-radius: 3px;
}
a {
  color: $my_white;
  &:hover {
    color: $my_white;
    text-decoration: underline;
  }
}
#partials {
  padding-top: 50px;
}
//---------------------------------


// app wide navbar
#navbar {
  #text {
    color: $my_white;
  }
  background-color: $my_black;
  .inline_item {
    display: inline;
  }

}
//---------------------------------


// login partial where users login and signup
#loginsignup {
  #title {
    color: $my_green;
  }
  #form {
    padding: 50px;
    border: 1px solid $my_black;
    border-radius: 20px;
  }
  #required {
    color: red;
  }
}

//---------------------------------


// frontpage partial where users browse and filter apartments
#frontpage {
  .inline_item {
    display: inline;
  }

  .text_right {
    text-align: right;
  }

  .inline_form {
    display: inline;
    width: 80%;
    right: 0;
    position: absolute;
    @include vert_center;
  }

  .form_element {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .right_element {
    position: absolute;
    right: 0;
    @include vert_center;
  }

  .fixed_width {
    width: 75px;
  }

  .center {
    text-align: center;
  }

  .go_button {
    min-width: 300px;
    width: 30%;
    height: 80px;
    font-size: 36px;
    line-height: 20px;
  }.grow {
     transition: all .2s ease-in-out;
   }

  .grow:hover {
    transform: scale(1.1);
  }

  .grow {
    transition: all .2s ease-in-out;
    padding: 10px;
  }

  .grow:hover {
    transform: scale(1.1);
    cursor: pointer;
  }

  .errorMessage {
    color: red;
  }
}
//---------------------------------


//sublease partial where users can create their own sublease
#sublease {
  .required {
    color: red;
  }
}
//---------------------------------


//userDetails partial where users can browse their profile/fav apts/etc
#userDetails {
  .slick-next {
    right: -10px;
  }
  img {
    color: white;
  }
  #changeInfo {
    border: 1px solid $my_black;
  }
  #favApts {
    ul {
      list-style: none;
      white-space: nowrap;
      overflow: scroll;
    }
    li {
      margin: 20px;
      display: inline;
    }
  }
}
//---------------------------------

#aptDetails {
  #starRating {
    font-size: 30px;
  }
  #one {
    color: red;
  }
  #two {
    color: orange;
  }
  #three {
    color: yellow;
  }
  #four {
    color: #bfff00;
  }
  #five {
    color: #00e600;
  }

  #comment {
    border-bottom: 1px solid $my_white;
  }

  #footnote {
    color: white;
  }
  #rating {
    color: $my_green;
  }
}
