<div id="aptDetails">

  <div class="row double">

    <h1 id="title">{{apartment.name}}  <button class="button" ng-click="saveApartment()">Save as Favorite<!-- <br><i class="fa fa-heart" style="font-size:35px;"> --></i></button></h1>
    <h3>{{apartment.address}}</h3>

    <div class="small-4 columns text-center">
      <img src="{{apartment.image}}"</img><br>
      <p>Call <span id="rating">111-111-1111</span> for more details</p>
    </div>

    <div class="small-4 columns">
      <div style="color:white;background-color:red;height:150px;">description placeholder</div><br>
    </div>


    <!-- <div class="small-4 columns">
      <chartist class="ct-chart" chartist-data="chartist.barData" chartist-chart-type="Bar"></chartist>
    </div> -->
    <div id="starRating" class="small-1 columns text-right">
      {{ratingsBreakdown[0]}}<br>
      {{ratingsBreakdown[1]}}<br>
      {{ratingsBreakdown[2]}}<br>
      {{ratingsBreakdown[3]}}<br>
      {{ratingsBreakdown[4]}}<br>
    </div>

    <div id="starRating" class="small-2 columns end">
      <div>
        <i id="one" class="fa fa-star text-right"></i><br>
        <i id="two" class="fa fa-star"></i><i id="two" class="fa fa-star"></i><br>
        <i id="three" class="fa fa-star"></i><i id="three" class="fa fa-star"></i><i id="three" class="fa fa-star"></i><br>
        <i id="four" class="fa fa-star"></i><i id="four" class="fa fa-star"></i><i id="four" class="fa fa-star"></i><i id="four" class="fa fa-star"></i><br>
        <i id="five" class="fa fa-star"></i><i id="five" class="fa fa-star"></i><i id="five" class="fa fa-star"></i><i id="five" class="fa fa-star"></i><i id="five" class="fa fa-star"></i><br>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="small-4 columns">
      <h1 id="title">Information:</h1>
        <strong>Bedrooms:</strong> {{apartment.noOfBedroom}}<br>
        <strong>Bathrooms:</strong> {{apartment.noOfBathRoom}}<br>
        <strong>Lease Date:</strong> {{startDate}} <strong>to</strong> {{endDate}}<br>
        <strong>Company:</strong> {{apartment.company}}<br>
    </div>
    <div class="small-8 columns">
      <div id="comment" ng-repeat="comment in commentList">
        <h3>Comment title</h3>
        <p>{{comment.comment}}</p>
        <p id="footnote">Written by <a ng-href="#/user/{{comment.userId}}">{{comment.userId}}</a>, who gave {{apartment.name}} a rating of <strong id="rating">{{comment.rating}}</strong> stars.
      </div>
    </div>
  </div>

</div>
