<div class="aptDetails">
  <div class="row double">

    <div class="small-4 columns">
      <div style="color:white;background-color:black;height:300px;">picture</div>
    </div>

    <div class="small-4 columns">
      <div style="color:white;background-color:red;height:150px;">description</div><br>
      <div style="color:white;background-color:gray;height:150px;">reviews</div>
    </div>

    <div class="small-4 columns">
      <button class="success button" ng-click="saveApartment()">Save as Favorite<br><i class="fa fa-heart" style="font-size:35px;"></i></button>
      <div style="color:white;background-color:gray;height:150px;">reviews 2</div>
    </div>

  </div>
</div>
