<div id="frontpage" class="row" ng-controller='FrontPageController'>
    <h1 class="center">Choose your preferences</h1>
    <br><br>
    <div class="small-12 columns">
        <div class="small-8 columns">
            <form>
                <div class="form_element"># Bedrooms<input ng-model="numBedrooms" type="text" placeholder="e.g. 1-3" class="inline_form"></div>
                <div class="form_element"># Bathrooms<input ng-model="numBathrooms" type="text" placeholder="e.g. 1-3" class="inline_form"></div>
                <div class="form_element">
                    Price per month
                    <div class="inline_form">
                        <div class="right_element">
                            $<input ng-model="priceLower" type="text" placeholder="300" class="fixed_width inline_item"> - $<input ng-model="priceUpper" type="text" placeholder="600" class="fixed_width inline_item">
                        </div>
                    </div>
                </div>
                <div class="form_element">Company
                    <select class="inline_form" ng-options="company for company in (apartments.data | unique)" ng-model="selectedCompany">
                        <option value="">Select an apartment</option>
                    </select>
                </div>
            </form>
        </div>
        <div class="small-4 columns">
            <div id="googleMap" style="width:500px;height:380px;"></div>
        </div>
    </div>
    <div class="center upper_padding"><button class="button go_button" ng-click="$scope.show = true">Go</button></div>
    <div ng-show="$scope.show" ng-init="$scope.show = false">
        <div class="columns small-12" ng-repeat="apt in apartments.data | filter: {company : selectedCompany} | filter:filterBedrooms | filter:filterBathrooms | filter:filterPrice | filter:filterMap">
            <div row>
                <div class="small-4 columns">
                    <a href="#/aptID:{{apt._id}}"><img class="grow" src="{{apt.image}}"></a>
                </div>
                <div class="small-4 columns">
                    Name: {{apt.name}}<br>
                    # Bedrooms: {{apt.noOfBedroom}}<br>
                    # Bathrooms: {{apt.noOfBathRoom}}<br>
                    Price/month: {{apt.price}}
                </div>
                <div class="small-4 columns">
                    Company: {{apt.company}}<br>
                    Rating: {{apt.rating}} / 5
                </div>
            </div>
        </div>
    </div>
</div>
