<div class="userDetails">
  <div class="row">

    <div class="small-3 columns text-center">
      <img src="{{user.picture_url}}"></img><br>
      <h4>{{user.name}}</h4>
      <a class="success button" ng-href="#/sublease">Create a sublease</a>
    </div>

    <div class="small-7 columns">
      <h2>Favorite Apartments</h2>
      <div id="favApts">
        <ul>
          <li><img style="height:150px;width:150px;" src="https://openclipart.org/download/19100/josuemb-house-silhouette.svg"></img></li>
          <li><img style="height:150px;width:150px;" src="https://openclipart.org/download/19100/josuemb-house-silhouette.svg"></img></li>
          <li><img style="height:150px;width:150px;" src="https://openclipart.org/download/19100/josuemb-house-silhouette.svg"></img></li>
          <li><img style="height:150px;width:150px;" src="https://openclipart.org/download/19100/josuemb-house-silhouette.svg"></img></li>
          <li><img style="height:150px;width:150px;" src="https://openclipart.org/download/19100/josuemb-house-silhouette.svg"></img></li>
          <li><img style="height:150px;width:150px;" src="https://openclipart.org/download/19100/josuemb-house-silhouette.svg"></img></li>
          <li><img style="height:150px;width:150px;" src="https://openclipart.org/download/19100/josuemb-house-silhouette.svg"></img></li>
        </ul>
      </div>
      {{user.bio}}
    </div>

    <div ng-show="!changePassword && !changePicture">
      <button class="button" ng-click="changePassword = !changePassword">Change Password</button>
      <button class="button" ng-click="changePicture = !changePicture">Change Picture</button>
    </div>

    <div ng-show="changePassword">
      <div id="changeInfo" class="small-2 columns">
        <a class="float-right" ng-click="changePassword = !changePassword">X</a><br>
        <input ng-model="newPassword" type="text" placeholder="password">
        <button class="success button" ng-click="updatePassword()">Change</button><br>
        {{passStatus}}
      </div>
    </div>
    <div ng-show="changePicture">
      <div id="changeInfo" class="small-2 columns">
        <a class="float-right" ng-click="changePicture = !changePicture">X</a><br>
        <input ng-model="newPicture" type="text" placeholder="picture URL">
        <button class="success button" ng-click="updatePicture()">Change</button><br>
        {{picStatus}}
      </div>
    </div>

  </div>
</div>
